.intro {
  position: relative;
  height: 100%;

  &_text_container {
    color: white;
  }

  &_bg_image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('../../../assets/workers.webp');
    filter: brightness(32%);
  }
}